body {
    padding: 0;
    margin: 0;
    background-color: rgb(251, 252, 248);
}
    

#search-box{ 
    width: 100%;
    text-align: center;
    margin: 50px;
    /* background-color: rgb(252, 252, 252); */
} 
#search{
    all: unset; 
    width: 40%;
    height: 50px;
    border-radius: 30px 0px 0 30px;
    padding-left: 20px;
    text-align: left;
    border: 2px solid rgb(224, 224, 224);
    color: #272523;
    background-color: rgb(224, 224, 224);
}
#search:focus{
    background-color: white;
}
#submit{
    all: unset;
    background-color: skyblue;
    border: 2px solid skyblue;
    cursor: pointer;
    width: 100px;
    height: 50px;
    /* padding: 10px; */
    border-radius: 0px 30px 30px 0;
    margin-left: -6px;
    padding-left: 0;
}
#submit:hover{
    background-color: tomato;
}
#submit:focus{
    background-color: tomato;
}
/* #submit: */

#serend{
    margin-left: 50px;
    margin-right: 50px;
}
#serend hr{
    border: solid 5px rgb(245, 216, 245);
}


#container {
    /* background-image:url('123.PNG'); */
    margin-left: 100px;
    margin-right: 100px;

    columns: 1;
    margin: 50px;
}
.item {
    width: 100%;
    /* height: 300px; */ 
    margin-bottom: 10px;
    padding-left: 10px;
    background: rgb(235, 236, 228);
    display: inline-block; /* 컬럼 짤림 방지*/
}
div.word{
    padding-bottom: 10px;
}
p.r_chi{
    padding-left: 20px;

}


/* 갤럭시 아이폰 반응형 웹 */
@media screen and (max-width: 430px) {
    #search-box {
        margin: 0px;
        margin-top: 50px;
    }
    #search {
        width: 40%;
    }
    #submit {
        width: 15%;
    }
    #container {
        width: 70%;
        columns: 1;
    }
    
}



